/* Base Styles */
:root {
    --light-silver-color: rgba(221, 207, 207, 0.586);
    --lighter-silver-color: rgba(249, 248, 248, 0.914);
    --darker-silver-color: rgb(72, 72, 72);
    --white-color: rgb(255, 255, 255);
    --light-yellow-color: rgb(255, 255, 217);
    --green-color: rgb(119, 255, 84);
    --dark-color: rgb(0, 0, 0);
    --font-big: 24px;
    --font-normal: 18px;
    --font-smaller-normal: 16px;
    --font-small: 14px;
    --font-w5: 500;
    --font-w6: 600;
    --font-w7: 700;
    --font-w8: 800;
    --transition-background: rgba(56, 56, 56, 0.428);
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgb(105, 105, 105), rgba(208, 207, 207, 0.582));
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--transition-background);
    /* Slight white color */
    backdrop-filter: blur(10px);
    /* Add blur effect */
    color: var(--green-color);
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 30px var(--white-color);
}

input#searchInput {
    width: 50%;
    padding: 12px;
    margin: 10px 7px;
    border: none;

    border-radius: 5px;
    font-size: var(--font-smaller-normal);
    box-shadow: 0 2px 4px var(--white-color);
}

button#searchButton {

    padding: 11px 20px;
    background-color: var(--dark-color);
    color: var(--green-color);
    box-shadow: 0 0 14px rgb(166, 245, 132), 0 0 14px rgb(247, 197, 241);
    border: 1px solid var(--white-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-smaller-normal);
    font-weight: var(--font-w6);
    transition: all 0.3s ease;
}

button#searchButton:hover {
    background-color: var(--green-color);
    color: var(--dark-color);
    box-shadow: 0 0 20px rgb(166, 245, 132), 0 0 10px rgb(247, 197, 241);
    border: 1px solid var(--green-color);
}

/* Movie count & No movies found style*/
p {
    color: var(--green-color);
    font-weight: var(--font-w6);
}

main {
    padding: 20px;
    flex: 1;
}

#movieList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.movie-item {
    background-color: var(--transition-background);
    /* Slight white color */
    backdrop-filter: blur(30px);
    /* Add blur effect */
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 5px 7px var(--dark-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: auto;
    margin-top: 17px;
}



.movie-item .movie-item-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    padding-bottom: 1px;
    color: var(--white-color);
}

/* Movie details*/
.movie-item-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    padding-bottom: 1px;
    color: var(--green-color);
}

.movie-item-content p {
    margin-top: 2px;
    color: var(--lighter-silver-color);
    font-weight: var(--font-w5);
}

.movie-item-content span {
    margin: 2px 1px 14px;
    color: var(--light-yellow-color);
    font-size: var(--font-normal);
    font-weight: var(--font-w6);
}

.movie-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 16px var(--green-color);
}

.movie-item img {
    width: 90%;
    border-radius: 8px;
    margin: 0 auto 10px auto;
    /* Center the image */
}

.movie-item h3 {
    margin: 10px 0;
    font-size: var(--font-normal);
    flex-grow: 1;
    color: var(--green-color);
}

.movie-item p {
    color: var(--white-color);
    ;
    /* date text color */
    font-size: var(--font-normal);
    font-weight: var(--font-w7);
    /* Make the date text bold */
}

#movieDetails {
    margin-top: 40px;
    padding: 20px;
    background-color: var(--transition-background);
    /* Slight white color */
    backdrop-filter: blur(50px);
    /* Add blur effect */
    border-radius: 10px;
    border: 2px solid var(--white-color);
    box-shadow: 0 4px 18px var(--light-silver-color);
    width: 60%;
    /* Center align the movie details section */
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    /* Ensure text starts from the left */
}

#movieDetails img {
    width: 50%;
    /* Adjust image width */
    border-radius: 10px;
    display: block;
    /* Ensure block display */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#movieDetails h2 {
    font-size: var(--font-big);
    margin-bottom: 10px;
}

#favoritesList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 18px;
}

main h2 {
    width: 100%;
    text-align: center;
    color: var(--green-color);
}

main .line {
    font-size: var(--font-normal);
    font-weight: var(--font-w8);
    text-align: center;
    margin-top: 2rem;
    color: var(--light-silver-color);
}

#background-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.6;
}

/* Add to Favorites Button Styles */
button.add-to-favorites {
    padding: 10px 20px;
    background-color: var(--dark-color);
    color: var(--green-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-smaller-normal);
    transition: background-color 0.3s ease, transform 0.3s ease;
    align-self: center;
    margin-top: 0;
}

button.add-to-favorites:hover {
    background-color: var(--dark-color);
    transform: translateY(-3px);
    box-shadow: 0 0 10px rgb(166, 236, 152), 0 0 10px rgb(245, 230, 243);
    border: 1px solid var(--dark-color);
}

button.add-to-favorites:active {
    transform: translateY(1px);
}

/* Loading Spinner */
#loadingSpinner {
    display: none;
    /* Hidden by default */
    border: 4px solid var(--white-color);
    /* Light grey */
    border-top: 4px solid #4A90E2;
    /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

footer {
    background-color: var(--dark-color);
    color: var(--white-color);
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 14px var(--white-color);
}

footer p {
    color: var(--white-color);
    font-weight: var(--font-w5);
}

/* Mobile */
@media (max-width: 600px) {
    body {
        font-size: var(--font-small);
    }

    #movieList,
    #favoritesList {
        flex-direction: row;
        align-items: center;
    }

    .movie-item {
        width: 65%;
    }

    #movieDetails {
        width: 80%;
    }

    #movieDetails h2 {
        font-size: var(--font-normal);
        margin-bottom: 10px;
    }

    .movie-item-content span {
        font-size: var(--font-smaller-normal);

    }
}

/* Tablet */
@media (min-width: 601px) and (max-width: 768px) {
    body {
        font-size: var(--font-smaller-normal);
    }

    #movieList,
    #favoritesList {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .movie-item {
        width: 35%;
    }

    #movieDetails {
        width: 70%;
    }
}

/* Small Desktop */
@media (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: var(--font-normal);
    }

    main {

        padding-left: 10px;
        /* Add left padding */
        padding-right: 10px;
        /* Add right padding */
    }

    #movieList,
    #favoritesList {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .movie-item {
        width: 24%;
    }

    #movieDetails {
        width: 60%;
    }
}

/* Desktop */
@media (min-width: 1025px) and (max-width: 1440px) {
    body {
        font-size: 18px;
    }

    #movieList,
    #favoritesList {
        flex-direction: row;
        flex-wrap: wrap;
    }

    main {

        padding-left: 1px;
        /* Add left padding */
        padding-right: 1px;
        /* Add right padding */
    }

    .movie-item {
        width: 17%;
    }

    #movieDetails {
        width: 50%;
    }
}

/* Large Desktop */
@media (min-width: 1441px) {
    body {
        font-size: var(--font-normal);
    }

    #movieList,
    #favoritesList {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .movie-item {
        width: 14%;
    }

    #movieDetails {
        width: 50%;
    }
}