/* Base Styles */
:root {
    --light-silver-color: rgba(221, 207, 207, 0.586);
    --lighter-silver-color: rgba(249, 248, 248, 0.914);
    --darker-silver-color: rgb(72, 72, 72);
    --white-color: rgb(255, 255, 255);
    --light-yellow-color: rgb(255, 255, 217);
    --green-color: rgb(119, 255, 84);
    --dark-color: rgb(0, 0, 0);
    --font-big: 24px;
    --font-normal: 18px;
    --font-smaller-normal: 16px;
    --font-small: 14px;
    --font-w5: 500;
    --font-w6: 600;
    --font-w7: 700;
    --font-w8: 800;
    --transition-background: rgba(56, 56, 56, 0.428);
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgb(105, 105, 105), rgba(208, 207, 207, 0.582));
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--transition-background);
    /* Slight white color */
    backdrop-filter: blur(10px);
    /* Add blur effect */
    color: var(--green-color);
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 30px var(--white-color);
}

input#searchInput {
    width: 50%;
    padding: 12px;
    margin: 10px 7px;
    border: none;

    border-radius: 5px;
    font-size: var(--font-smaller-normal);
    box-shadow: 0 2px 4px var(--white-color);
}

button#searchButton {

    padding: 11px 20px;
    background-color: var(--dark-color);
    color: var(--green-color);
    box-shadow: 0 0 14px rgb(166, 245, 132), 0 0 14px rgb(247, 197, 241);
    border: 1px solid var(--white-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-smaller-normal);
    font-weight: var(--font-w6);
    transition: all 0.3s ease;
}

button#searchButton:hover {
    background-color: var(--green-color);
    color: var(--dark-color);
    box-shadow: 0 0 20px rgb(166, 245, 132), 0 0 10px rgb(247, 197, 241);
    border: 1px solid var(--green-color);
}

/* Movie count & No movies found style*/
p {
    color: var(--green-color);
    font-weight: var(--font-w6);
}

main {
    padding: 20px;
    flex: 1;
}

#movieList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.movie-item {
    background-color: var(--transition-background);
    /* Slight white color */
    backdrop-filter: blur(30px);
    /* Add blur effect */
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 5px 7px var(--dark-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: auto;
    margin-top: 17px;
}



.movie-item .movie-item-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    padding-bottom: 1px;
    color: var(--white-color);
}

/* Movie details*/
.movie-item-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    padding-bottom: 1px;
    color: var(--green-color);
}

.movie-item-content p {
    margin-top: 2px;
    color: var(--lighter-silver-color);
    font-weight: var(--font-w5);
}

.movie-item-content span {
    margin: 2px 1px 14px;
    color: var(--light-yellow-color);
    font-size: var(--font-normal);
    font-weight: var(--font-w6);
}

.movie-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 16px var(--green-color);
}

.movie-item img {
    width: 90%;
    border-radius: 8px;
    margin: 0 auto 10px auto;
    /* Center the image */
}

.movie-item h3 {
    margin: 10px 0;
    font-size: var(--font-normal);
    flex-grow: 1;
    color: var(--green-color);
}

.movie-item p {
    color: var(--white-color);
    ;
    /* date text color */
    font-size: var(--font-normal);
    font-weight: var(--font-w7);
    /* Make the date text bold */
}

#movieDetails {
    margin-top: 40px;
    padding: 20px;
    background-color: var(--transition-background);
    /* Slight white color */
    backdrop-filter: blur(50px);
    /* Add blur effect */
    border-radius: 10px;
    border: 2px solid var(--white-color);
    box-shadow: 0 4px 18px var(--light-silver-color);
    width: 60%;
    /* Center align the movie details section */
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    /* Ensure text starts from the left */
}

#movieDetails img {
    width: 50%;
    /* Adjust image width */
    border-radius: 10px;
    display: block;
    /* Ensure block display */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#movieDetails h2 {
    font-size: var(--font-big);
    margin-bottom: 10px;
}

#favoritesList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 18px;
}

main h2 {
    width: 100%;
    text-align: center;
    color: var(--green-color);
}

main .line {
    font-size: var(--font-normal);
    font-weight: var(--font-w8);
    text-align: center;
    margin-top: 2rem;
    color: var(--light-silver-color);
}

